.Title__wrapper{
    position: relative;
    padding: 2% 0;
}
.Title__heading{
    text-align: center;
    margin-bottom: 5%;
    font-weight: 600;
    font-size: 3rem;
    
}
.Title__heading--line{
    height: 5px;
    background-color: red;
    width: 150px;
    position: absolute;
    top: 60%;
    left: 42%;
    
}

@media screen and (max-width: 900px) {
    .Title__heading--line{
        top: 70%;
        left: 35%;
        width: 130px;
    }
}

@media screen and (max-width: 700px) {
    .Title__heading{
       
        font-size: 2.5rem;
        
    }
}
@media screen and (max-width: 540px) {
    .Title__heading{
       
        font-size: 2rem;
        
    }
}
@media screen and (max-width: 540px) {
    .Title__heading--line{
        top: 80%;
        left: 33%;
        width: 100px;
    }
}

@media screen and (max-width: 375px) {
    .Title__heading--line{
        top: 83%;
        left: 28%;
        width: 100px;
    }
}